body{
  background: #c1d2d0;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: grid;
  background: transparent;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: "title title"
                       "description description"
                       "user-choice pc-choice"
                       "user-score pc-score"
                       "result result"
                       "message-container message-container";
  text-align: center;
}

.title{
  grid-area: title;
  font-size: 40px;
}

.description{
  grid-area: description;
  height: 100px;
  font-size: 20px;
}

.pc-choice{
  grid-area: pc-choice;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 30px;
  border-left: 1px solid black;
}

.user-choice{
  grid-area: user-choice;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 30px;
  border-right: 1px solid black;
}

.user-score{
  grid-area: user-score;
}

.pc-score{
  grid-area: pc-score;
}

.user-score-container p{
  height: 50px;
  text-align: right;
  padding-top: 20px;
}

.pc-score-container p{
  height: 50px;
  text-align: left;
  padding-top: 20px;
}

.user-score-container,
.pc-score-container{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: #ab9666;
}

.user-score-container{
  margin-left: auto;
}

.result{
  grid-area: result;
  background: lightblue;
  width: 50%;
  justify-self: center;
}

.menssage-container{
  grid-area: message-container;
  background: lightblue;
  width: 50%;
  justify-self: center;
}

img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
