body{
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

header{
  height: 7vh;
  background: lightgray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a{
  color: #463f3f;
  margin-right: 20px;
}

.container{
  display: grid;
  grid-template-areas: "title title"
                       "images images"
                       "usr pc";
  text-align: center;
  grid-gap: 30px;
  justify-content: center;
  align-content: center;
  height: 93vh;
}

.title{
  grid-area: title;
}

.images{
  grid-area: images;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-pc{
  grid-area: usr;
  display: flex;
  justify-content: flex-end;
}

.btn-usr{
  grid-area: pc;
  display: flex;
  justify-content: flex-start;
}


.btn-pc button{
  /* justify-content: end; */
}


button{
  border-radius: 10px;
  width: 200px;
  height: 50px;
}

button:hover{
  background: #AEC949;
  color: white;
}

h1{
  font-size: 60px;
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000;
}
