.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: "title title"
                       "description description"
                       "user-choice pc-choice";
  text-align: center;
}

.title{
  grid-area: title;
  font-size: 40px;
}

.description{
  grid-area: description;
  height: 100px;
  font-size: 20px;
}

.pc-choice{
  grid-area: pc-choice;
  height: 100px;
}

.user-choice{
  grid-area: user-choice;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 30px;
}

img{
  width: 50px;
  height: 50px;
}
