body{
  margin:0;
  padding: 0;
  font-family: "Rubik";
}

header{
  height: 7vh;
  background: lightgray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header a{
  color: #463f3f;
  margin-right: 20px;
  text-decoration: none;
}

h1{
  margin-bottom: 30px;
}

h2{
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: grid;
  background: transparent;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: "title title"
                       "usr pc"
                       "user-score pc-score"
                       "user-choice pc-choice"
                       "user1 user2"
                       "result result"
                       "message-container message-container";
  text-align: center;
}

.title{
  grid-area: title;
  font-size: 40px;
}

.usr1choice{
  grid-area: user1;
}

.usr2choice{
  grid-area: user2;
}

.usr{
  grid-area: usr;
}

.pc{
  grid-column: pc;
}

.pc-choice{
  grid-area: pc-choice;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-left: 1px solid black;
}

.user-choice{
  grid-area: user-choice;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid black;
}

.user-score{
  grid-area: user-score;
}

.pc-score{
  grid-area: pc-score;
}

.user-score-container p{
  margin: 0;
  margin-bottom: 30px;
  text-align: right;
}

.pc-score-container p{
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
}

.user-score-container,
.pc-score-container{
  /* width: 40%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  /* background: #ab9666; */
}

.user-score-container{
  margin-left: auto;
}

.result{
  grid-area: result;
  background: lightblue;
  width: 30%;
  justify-self: center;
  margin-top: 30px;
  border-radius: 10px;
}

.message-container{
  grid-area: message-container;
  background: lightblue;
  width: 50%;
  justify-self: center;
}

img{
  width: 100px;
  height: 100px;
  cursor: pointer;
}


.instructions{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions h2{
  font-size: 4em;
}
